/* CSS by Michelle Chong */

/* ====================== */

/* CSS Reset by Andy Bell */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* ====================== */

/* * {
    outline: 1px solid red;
}

*:nth-child(even) {
    outline: 1px solid green;
} */

/* Style Guide */
:root {
    /* Color Palette */
    --primary-color: #6943FF;

    --h2-color: #fff;
    --input-color:  #fff;
    --button-color: #fff;
    --button-text: #3D3D3D;

    --button-border: #B295FF;

    --light-body-color: #fff;
    --light-mode-cnt-color: #F4F4F4;
    --light-mode-conversion-color: #fff;
    --light-mode-h3-color: #5A537B;
    --light-mode-p-color: #353535;

    --dark-body-color: #1C1C1C;
    --dark-mode-cnt-color: #1F2937;
    --dark-mode-conversion-color: #273549;
    --dark-mode-h3-color: #CCC1FF;
    --dark-mode-p-color: #FFFFFF;

    /* Typography */
    --font-family: 'Inter', sans-serif;

    /* Font Size */
    --h2-font-size: 1.75rem;
    --input-font-size: 3.625rem;
    --button-font-size: 1rem;
    --h3-font-size: 1.25rem;
    --p-font-size: 0.875rem;

    /* Font Weight */
    --h2-font-weight: 800;
    --input-font-weight: 800;
    --button-font-weight: 500;
    --h3-font-weight: 600;
    --p-font-weight: 400;

    /* Line Height */
    --h2-line-height: 2.375rem;
    --input-line-height: 1.75rem;
    --button-line-height: 1.75rem;
    --h3--line-height: 1.25rem;
    --p-line-height: 1.25rem;
}

/* ====================== */

/* Mobile Styles */

body {
    background-color: var(--light-body-color);
    height: 100svh;
    font-family: var(--font-family);
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.container {
    max-width: 34.375rem;
    background-color: var(--light-mode-cnt-color);
    padding-bottom: 2rem;
    border-radius: 8px;
    margin: 0.5rem;
}

.upper-container {
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 8px 8px 0 0;
}

.container .upper-container .header.medium {
    color: var(--h2-color);
    font-weight: var(--h2-font-weight);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    text-align: center;
    margin: 1.5rem;
    text-wrap: wrap;
}

#input {
    display: block;
    background-color: transparent;
    border: 2px solid var(--button-border);
    border-radius: 5px;
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);
    line-height: var(--input-line-height);
    margin: 1.5rem auto;
    text-align: center;
    color: var(--button-color);
}

#convert-btn {
    display: block;
    background-color: var(--button-color);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    line-height: var(--button-line-height);
    color: var(--button-text);
    border: none;
    padding: 0.5rem 1.75rem;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
}

.container .conversion-box {
    background-color: var(--light-mode-conversion-color);
    margin: 1.5rem 2rem 0 2rem;
    text-wrap: wrap;
    border-radius: 6px;
    padding: 1.5rem 1rem;
}

.header.small {
    color: var(--light-mode-h3-color);
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height:  var(--h3-line-height);
    text-align: center;
    margin: 0;
}

.converted {
    color: var(--light-mode-p-color);
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    line-height:  var(--p-line-height);
    text-align: center;
    margin-top: 0.875rem;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-body-color);
    }

    .container {
        background-color: var(--dark-mode-cnt-color);
    }

    .container .conversion-box {
        background-color: var(--dark-mode-conversion-color);
    }

    .header.small {
        color: var(--dark-mode-h3-color);
    }

    .converted {
        color: var(--dark-mode-p-color);
    }
}